.price_section {
    background-color: #00204a;
}

#price-plans {
    text-align: center;
    padding: 50px 0;
}

#price-plans h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
}

.plan {
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.plan h3 {
    font-size: 18px;
    text-align: center;
    margin-top: 0;
}

.plan .price {
    font-size: 31px;
    color: #333;
    text-align: center;
}

.plan ul {
    list-style: none;
    padding: 0;
}

.plan ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.plan ul li:last-child {
    border-bottom: none;
}

.plan button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.plan button:hover {
    background-color: #555;
}
